<footer class="footer">
	<div class="container text-center">
		<p class="mb-1"> ©2026
			- Mon eCommerce</p>
		<p class="desc-text">
			<a href="#" class="text-decoration-none text-secondary">Mentions légales</a>
			·
			<a href="#" class="text-decoration-none text-secondary">Contact</a>
		</p>
	</div>
</footer>
